0x00-pascal_triangle/__pycache__/0-pascal_triangle.cpython-310.pyc
0x01-lockboxes/__pycache__/0-lockboxes.cpython-310.pyc
0x02-minimum_operations/__pycache__/0-minoperations.cpython-310.pyc
0x04-utf8_validation/__pycache__/0-validate_utf8.cpython-310.pyc
0x07-rotate_2d_matrix/__pycache__/0-rotate_2d_matrix.cpython-310.pyc
0x08-making_change/__pycache__/0-making_change.cpython-310.pyc
